<table style="width:100%" id="myTable">
  <thead>
    <tr>
      <th>Company</th>
      <th>Category</th>
      <th>URL</th>
      <th>Description</th>
      <th>Dark Mode Support</th>
      <th>Default Theme</th>
      <th>Custom Themes</th>
      <th>Contrast Accessibility</th>
      <th>Rating</th>
      <th>Last Reviewed</th>
    </tr>
  </thead>
  <tbody>
{{ range .Site.Data.websites }}
<tr>
  <td>{{ .company }}</td>
  <td>{{ .category }}</td>
  <td><a href="{{ .url }}" target="_blank">{{ .url }}</a></td>
  <td>{{ .description }}</td>
  <td>{{ .dark_mode }}</td>
  <td>{{ .default_theme_style }}</td>
  <td>{{ .supports_custom_themes }}</td>
  <td>{{ .contrast_accessibility }}</td>
  <td>{{ .accessibility_rating }}</td>
  <td>{{ .last_updated }}</td>
</tr>
{{ end }}
  </tbody>
</table> 